name: test

on:
  workflow_dispatch:
    inputs:
      ver:
        description: 'version number'
        required: true
      debug:
        description: 'isDebug'
        required: false
        default: 'false'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: setup dir
        run: |
          mkdir vehicledb vdb
          find . -type d -not -path '*/\.*'

      - uses: actions/checkout@v2
        with:
          repository: 'shrepo/vehicledb'
          token: ${{ secrets.GH_TOKEN_SHDESKSHIP }}
          persist-credentials: true
          submodules: true
          ref: 'master'
          path: 'vehicledb'

      - uses: actions/checkout@v2
        with:
          repository: 'shrepo/vdb'
          token: ${{ secrets.GH_TOKEN_SHDESKSHIP }}
          persist-credentials: true
          submodules: true
          ref: 'pothu'
          path: 'vdb'
          fetch-depth: 2

      - uses: actions/setup-node@v2-beta
        with:
          node-version: '12'

      - name: Notify Start
        env:
          JOB_URL: 'https://github.com/${{ github.repository }}/commit/${{ github.sha }}/checks'
          TELEGRAM_IDS: '${{ secrets.TELEGRAM_CHAT_AMEEN }},${{ secrets.TELEGRAM_CHAT_HASHMI }}'
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          GH_RUN_NO: ${{ github.run_number }}
        run: |
          echo "Job URL - $JOB_URL"
          echo "TELEGRAM_TOKEN - $TELEGRAM_TOKEN"
          echo "GH_RUN_NO - $GH_RUN_NO"
          echo "::set-env name=start_time::`date +%s`"
          node ./vehicledb/scripts/notifyTelegram.js start
      - name: publish
        run: |
          find . -type d -not -path '*/\.*'
          cd vehicledb
          yarn
          yarn ship

      - name: Notify End
        if: ${{ always() }}
        env:
          TELEGRAM_IDS: '${{ secrets.TELEGRAM_CHAT_AMEEN }},${{ secrets.TELEGRAM_CHAT_HASHMI }}'
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          GH_JOB_STATUS: ${{ job.status }}
        run: node ./vehicledb/scripts/notifyTelegram.js end
